.block_area {
    
    /* 1. 사이즈 */
    width: 708px;
    height: 108px;
    background-color: aqua;


    /* 2. 정렬 */
    display: flex;
    align-items: center;
    
    /* 가운데로 붙이기 */
    justify-content: center;
    
    /* 왼쪽으로 딱 붙이기 */
    /* justify-content: flex-start; */

}


.block_left_wrap {
    /* background-color: red; */

    width: 458px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.block_left_title_container {
    background-color: chartreuse;

    /* 이건 프로젝트 별로 다름 */
    width: 452px;
    height: 50px;

    /* 가운데로 정렬 시키기 ⭐⭐⭐ 모든 container 에는 이게 들어가야 함
        ✅ 이렇게 가운데 정렬이 디폴트
        ✅ 디폴트면, 클래스로 정해두고, > 다른 걸 별도 클래스를 정해서?*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.block_left_desc_container {
    /* background-color: blue;  */
    width: 452px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.block_left_desc_container {

    /* background-color: thistle; */
    width: 452px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.block_title_p_tag {

    width: 700px;
    height: 100px;

    /* 글씨 디자인 = 만들어진게 있음 ✅ 이것도 건 by 건 */
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 24px;
    margin-bottom: 2px;
    


    white-space: nowrap;
    /* 넘어가면, 사라지게 하기 */
    overflow: hidden;
    text-overflow: ellipsis;

    

}




.block_left_area {
 
    /* 1. 사이즈 */
    width: calc(708px - 6px);
    height: calc(108px - 6px);
    /* background-color: lawngreen; */

    /* 가운데로 정렬 시키기 */
    display: flex;
    flex-direction: column;
    align-items: center;

    
}



.block_left_area {

    /* 1. 사이즈 */
    width: 456px;
    height: 106px;
    /* background-color: lawngreen; */
    
    
}


.block_right_area {
    
    /* 1. 사이즈 */
    width: 250px;
    height: 106px;
    background-color: rebeccapurple;
    
}

.block_left_1st_content_area {

    /* 1. 사이즈 */
    width: 456px;
    height: 35.4px;

    
    /* background-color: orange; */

}

.block_left_2nd_content_area {

    /* 1. 사이즈 */
    width: 456px;
    height: 35.4px;

    
    /* background-color: steelblue; */

}


.p_tag_left_desc {

        width: 240px;
        /* 이건 일렬로 있게 하는 것  */
        white-space: nowrap;

        /* 넘어가면, 사라지게 하기
                😥 아 이게 잘 안 먹는데  */
        overflow: hidden;
        text-overflow: ellipsis;

}


.block_left_3rd_content_area {

    /* 1. 사이즈 */
    width: 456px;
    height: 35.4px;

    
    /* background-color: tan; */

}


/* img 태그에 디폴트로 넣을 기능 
    ⭐⭐⭐ 이걸 디폴트로 해놓고, 다른 걸 변경하거나 
    
    1) 사진이 우선, 굉장히 크게 나옴 -> 이걸 딱 틀에 맞게 조절해줘야 함 
    2) '틀에 맞게 조절' 한다는 건 = 내가 원하는 width 와 height 가 있다는 말 임. 
    3) 내가 원하는 width, height 는 어디에서 가져와야 할까? 어떤 class 에 이 역할을 부여?
        1️⃣ img tag 자체에 부여 - 실익 비교가 아직 안 되네 😥
        2️⃣ img 의 부모 에게 부여 - 실익 비교가 아직 안 되네 😥 
        3️⃣ img 의 할아버지 에게? -> 음... 그 중간에 무슨 일이 있을지 몰라 

*/


/* img tag 부모인 img_container 라면, img_container 를 class 로 만들어도 된다. ⭐⭐⭐⭐⭐ */
.block_right_image_container {
    width: 250px;
    height: 106px;
}


/* ⭐⭐⭐ tag 에 있는 거면, img 에 걸어도 된다. ⭐⭐⭐ */
.block_image_img_tag {
    width: 100%;
    height: 100%;

    /* 원본 사진이 crop 되어서 나오는 느낌 */
    object-fit: cover;
    /* overflow-clip-margin: content-box; */
    /* overflow: clip; */

}


/* 전체에 거는 것 
        1) 노션이 이렇게 걸고 있음⭐⭐⭐ */
* {
    box-sizing: border-box;

}


